<%- include('../../partials/header') %>
<body>
    <%- include('../../partials/navbar') %>
    <div class="container">
        <br>
        <h2>Artigos</h2>
        <a href="/admin/article/new" class="btn btn-success">Escrever novo artigo</a>
    </div>
</body>
<%- include('../../partials/footer') %>