<nav class="navbar navbar-dark navbar-expand-lg bg-primary" style="display: flex; justify-content: space-between;">
    <a href="/" class="navbar-brand mx-3">
        AFBlog
    </a>

    <ul class="navbar-nav mx-3">
        <% categories.forEach(category=>{ %>
            <li class="nav-item">
                <a href="/category/<%= category.slug %>" class="nav-link">
                    <%= category.title %>
                </a>
            </li>
        <% }) %>
        <li class="nav-item mx-5" >
            <a href="/login" class="btn btn-success">Login</a>
        </li>
    </ul>
</nav>