<nav class="navbar navbar-dark navbar-expand-lg bg-primary">
    <a href="/" class="navbar-brand mx-3">
        AFBlog
    </a>

    <ul class="navbar-nav mx-3">
        <% categories.forEach(category=>{ %>
            <li class="nav-item">
                <a href="/category/<%= category.slug %>" class="nav-link">
                    <%= category.title %>
                </a>
            </li>
        <% }) %>
    </ul>
</nav>