<nav class="navbar navbar-dark navbar-expand-lg bg-primary" style="display: flex; justify-content: space-between;">
    
    <ul class="navbar-nav mx-3">
        <a href="/admin/users" class="navbar-brand mx-3">
            AFBlog
        </a>
        <li class="nav-item">
            <a href="/categories" class="nav-link">Categorias</a>
        </li>
        <li class="nav-item">
            <a href="/articles/" class="nav-link">Artigos</a>
        </li>
        <li class="nav-item">
            <a href="/admin/users" class="nav-link">Usuários</a>
        </li>
    </ul>
    <a href="/logout" class="nav-item mx-5">
        <img src="/img/sair.png" alt="imagem sair" height="30rem">
    </a>
</nav>