<nav class="navbar navbar-dark bg-primary">
    <a href="/" class="navbar-brand mx-3">
        AFBlog
    </a>

    <ul class="navbar-nav mx-3">
        <li class="nav-item">
            <a href="/categories" class="nav-link">Categorias</a>
        </li>
        <li class="nav-item">
            <a href="/articles/" class="nav-link">Artigos</a>
        </li>
    </ul>
</nav>