<%- include('../../partials/header') %>

<body>
    <%- include('../../partials/navbar') %>
    <div class="container">
        <br>
        <div class="card">
            <div class="card-header">
                <h2>Cadastro de usuário</h2>
            </div>
            <div class="card-body">
                <form method="post" action="/admin/users/create" onsubmit="success(event,this)">
                    <label for="name">Nome do usuário:</label>
                    <input type="text" name="name" id="name" placeholder="Nome do usuário" class="form-control">
                    <br>
                    <label for="email">E-mail do usuário:</label>
                    <input type="email" name="email" id="email" placeholder="Email do usuário" class="form-control">
                    <br>
                    <label for="password">Senha do usuário</label>
                    <input type="password" name="password" id="password" placeholder="Senha do usuário" class="form-control">
                    <br>
                    <button class="btn btn-primary">Cadastrar</button>
                </form>
            </div>
        </div>
    </div>
</body>
<%- include('../../partials/footer') %>

<script>
    function success(event, form){
        event.preventDefault();
        alert('Usuário criado com sucesso!');
        form.submit();
    }
</script>