<%- include('../../partials/header') %>

<body>
    <%- include('../../partials/homenavbar') %>
    <div class="container">
        <br>
        <div class="card">
            <div class="card-header">
                <h2>Login</h2>
            </div>
            <div class="card-body">
                <form method="post" action="/login" onsubmit="check(event, this)">
                    <label for="email">E-mail do usuário:</label>
                    <input type="email" name="email" id="email" placeholder="Email do usuário" class="form-control">
                    <p id="emailErr">Email inválido</p>
                    <label for="password">Senha do usuário</label>
                    <input type="password" name="password" id="password" placeholder="Senha do usuário" class="form-control">
                    <p id="passErr">Senha inválida</p>
                    <br>
                    <button class="btn btn-primary">Cadastrar</button>
                </form>
            </div>
        </div>
    </div>
</body>
<%- include('../../partials/footer') %>

<script src="js/check.js"></script>